.review-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.review-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin: 10px 0;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}



.form-group input[type="file"]
{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: white;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color:black;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group label {
    margin-right: 10px;
}

.form-group select {
    margin-left: 10px;
    width: auto;
    height: 40px; /* Align with the height of input elements */
}