@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
.banner {
  background-color: #7289da; /* Discord's brand color */
  padding: 1px;
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  position: relative; /* Set position to relative */
  z-index: 1000; /* Ensure it's above other content */
  width: 100%;
}

.banner-title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /*font-family: 'Arial', sans-serif; /* Specify your preferred font family */
  font-size: 30px; /* Adjust the font size as needed */
  color: #fff; /* Set text color to white */
  margin-right: auto; /* Push the title to the left */
  
}




.button, .profile-button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.button-link {
  display: inline-block;
  text-decoration: none;
}
.button:hover {
  background-color: lightblue;
}

.profile-button:hover{
  background-color: lightgreen;
}
.profile-button {
  background-color: #4cd137; /* Green color for profile button */
}

/* Set icon size */
.banner .button i, .profile-button i {
  font-size: 18px;
  margin-right: 5px; /* Add some spacing between icon and text */
}

body {
  margin: 0;
  padding: 0;
  background-color: #36393f;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif; /* Add a fallback font */
}

.container {
  display: flex;
  flex-direction: column !important;
  align-items: left;
  width: 100%;
}

.search-container {
  position: relative;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font-size: 14px;
  color: #333333;
}

.ui-autocomplete > li {
  padding: 5px 10px;
  cursor: pointer;
}

.ui-autocomplete > li:hover {
  background-color: #f0f0f0;
}
.search-section {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.search-input {
  /*flex: 1; /* Take up remaining space */
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 16px;
  outline: none;
}

.select {
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.search-button {
  flex: 1;
  background-color: #007bff; /* Blue button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 4px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}



.review-container {
  position: relative;
  background-color: #2f3136;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 30px;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  color: #fff; /* Text color */
}

.review-container a {
  color: #6e98ec; /* Change color to your desired color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.review-container a:hover {
  color: #0056b3; /* Change color on hover */
}

.user-course-prof-container {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-bottom: 100px;
  /*display: flex;*/
}

.ratings-container {
  /*display: flex;*/
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100px;
}

.rating-box {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.divider {
  margin-top: 10px;
  margin-bottom: 15px;
  border: none;
  border-top: 3px solid #000000; /* Divider color */
}

.high-rating {
  background-color: #a5f1d6; /* Light green for high rating */
}

.low-rating {
  background-color: #eb646b; /* Light red for low rating */
}

.rating-box h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}



.rating-item {
  text-align: center;
}

.rating-item h3 {
  color: #666;
  font-size: 16px;
  text-align: center;
}

.rating-item p {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.like-dislike {
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 5px;
  display: flex;
  align-items: center;
}

.timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
}

.review-content {
  text-align: left;
  margin-right: 10px;
  justify-content: space-between;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

/* Additional styling for ratings */
.prof-rating, .course-rating {
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}


.like-dislike {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.like-button, .dislike-button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.like-icon, .dislike-icon {
  transition: color 0.2s; /* Add transition effect */
}


.like-icon:hover, .dislike-icon:hover {
  color: #007bff; /* Darker color on hover */
}
.highlighted {
  color: #007bff; /* Darker color */
}
.net-likes {
  font-size: 18px;
  margin: 0 10px;
  min-width: 30px;

}

.review-text {
  position: absolute;
  text-align:left;
  margin-right:10px;
  top: 100px;
  left: 180px;
}

.review-link {
  margin-top: 10px;
  text-align: right;
}

.review-link a {
  color: #0645AD;
  text-decoration: none;
  font-weight: bold;
}

.review-link a:hover {
  text-decoration: underline;
}

.success-message {
    text-align: center;
    color: green;
    margin-top: 20px;
}


.loading-sentinel {
  height: 1px; /* Minimum height to make it detectable */
  width: 100%;
}

